/* ==========================================================================
   Global
   ========================================================================== */

   * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #001E3A;
	background-image: url("../img/background.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* ==========================================================================
   Header
   ========================================================================== */

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .4em 10px;
	margin-bottom: 20px;
	border: 1px solid #474747;
	border-left-width: 0;
	border-right-width: 0;
	background: #1C1C1C;
	color: #fff;
	text-shadow: 0 -1px 1px #000;
}

.header__nav {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__title {
	min-height: 1em;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.button {
	color: white;
	text-decoration: none;
	border: 1px solid #2F2F2F;
	border-radius: 4px;
	font-size: 12px;
	line-height: 1;
	padding: .6em;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	background: rgb(36, 36, 36);
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(36, 36, 36, 1) 0%, rgba(46, 46, 46, 1) 19%, rgba(46, 46, 46, 1) 19%, rgba(2, 2, 2, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 36, 36, 1)), color-stop(19%, rgba(46, 46, 46, 1)), color-stop(19%, rgba(46, 46, 46, 1)), to(rgba(2, 2, 2, 1)));
	background: -o-linear-gradient(top, rgba(36, 36, 36, 1) 0%, rgba(46, 46, 46, 1) 19%, rgba(46, 46, 46, 1) 19%, rgba(2, 2, 2, 1) 100%);
	background: linear-gradient(to bottom, rgba(36, 36, 36, 1) 0%, rgba(46, 46, 46, 1) 19%, rgba(46, 46, 46, 1) 19%, rgba(2, 2, 2, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#020202', GradientType=0);
	/* IE6-9 */
}

.button__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.button__text {
	color: inherit;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 -1px 1px #000;
}

.button__icon {
	font-size: 8px;
	margin-right: 5px;
}

.header__brand {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__brand img {
	width: 25px;
	height: auto;
	display: block;
}


/* ==========================================================================
   Main
   ========================================================================== */

.main {
    padding: 0 20px;
    width: 100%;
}

@media only screen and (min-width: 649px) {
    .main {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ==========================================================================
   Image
   ========================================================================== */

.image {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}


/* ==========================================================================
   Content
   ========================================================================== */

.content {
	line-height: 1.4;
	margin-bottom: .25rem;
}

.content__title {
	font-size: 1.125rem;
	margin-bottom: .25rem;
}

.content__sub-title {
	color: #A1BED9;
	font-size: .75rem;
	font-weight: 400;
	margin: 0;
	display: block;
}


/* ==========================================================================
   List Group
   ========================================================================== */

.list-group {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}

.list-group__item:first-child {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.list-group__item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.list-group__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #001325;
	padding: .75rem 1rem;
	margin-bottom: -1px;
	background: rgb(232, 235, 238);
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(232, 235, 238, 1) 0%, rgba(192, 206, 218, 1) 97%, rgba(192, 206, 218, 1) 98%, rgba(238, 238, 238, 1) 99%, rgba(238, 238, 238, 1) 100%, rgba(192, 206, 218, 1) 100%, rgba(238, 238, 238, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 235, 238, 1)), color-stop(97%, rgba(192, 206, 218, 1)), color-stop(98%, rgba(192, 206, 218, 1)), color-stop(99%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(192, 206, 218, 1)), to(rgba(238, 238, 238, 1)));
	background: -o-linear-gradient(top, rgba(232, 235, 238, 1) 0%, rgba(192, 206, 218, 1) 97%, rgba(192, 206, 218, 1) 98%, rgba(238, 238, 238, 1) 99%, rgba(238, 238, 238, 1) 100%, rgba(192, 206, 218, 1) 100%, rgba(238, 238, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(232, 235, 238, 1) 0%, rgba(192, 206, 218, 1) 97%, rgba(192, 206, 218, 1) 98%, rgba(238, 238, 238, 1) 99%, rgba(238, 238, 238, 1) 100%, rgba(192, 206, 218, 1) 100%, rgba(238, 238, 238, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebee', endColorstr='#eeeeee', GradientType=0);
	/* IE6-9 */
	border: 1px solid #CBCBCB;
}

.list-group__text {
	font-weight: bold;
}

.list-group__icon {
	text-shadow: 0px 1px #fff;
}


/* ==========================================================================
   Misc.
   ========================================================================== */

.telephone {
	color: #fff;
	font-size: .75rem;
	font-weight: 400;
}